
@{
    ViewBag.Title = "Guardar Empleados en Biométricos";
    string messaje = ViewBag.result;
    List<SelectListItem> listaUser = ViewBag.ListaUser as List<SelectListItem>;
    List<SelectListItem> listaBiometricos = ViewBag.ListaBiometricos as List<SelectListItem>;
    List<SelectListItem> listaSucursales = ViewBag.ListaSucursales as List<SelectListItem>;
}

<hr />

<input type="hidden" id="page" value="UserBiometric" />

<div class="row">

    <div class="col-xs-12 col-sm-12">
        <form method="post" action="/UserBiometric/SetAllUser">
            <div class="form-group divider-vertical">
                <h3 class="margen-left">Guardar empleados en Biométricos</h3>
                <hr />
                <div class="text-center form-group">
                    <img src="~/images/basetobio.png" height="70" />
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p>Seleccione Sucursal</p>
                        <select class="form-control" id="sucursal" name="sucursal">
                            <option value="" selected="selected">Seleccionar Todas</option>
                            @foreach (var item in listaSucursales)
                            {
                                <option value="@Html.DisplayFor(Modelitem => item.Value)">@Html.DisplayFor(Modelitem => item.Text)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <p>Seleccione Biometrico IP</p>
                        <select class="form-control" id="ListBiometricos" name="ListBiometricos">
                            <option value="0" selected="selected">Seleccionar Todos</option>
                            @foreach (var item in listaBiometricos)
                            {
                                <option value="@Html.DisplayFor(Modelitem => item.Value)">@Html.DisplayFor(Modelitem => item.Text)</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="text-center col-xs-12" style="display:inline-block">
                    <input type="submit" class="btn btn-success btn-anch" value="Enviar" />
                </div>
            </div>
        </form>
    </div>
</div>
