@{
    ViewBag.Title = "Sistema Biométrico";
    
}


<div class="col-xs-12 form-group">
    <div align="center">
        <br >
        <br >
        <h1>Sistema Biométrico!</h1>
        
    </div>
</div>

<div class="row col-centered">
    <div align="center">
        <img src="~/images/logo.png" height="250" />
    </div>
</div>
